.chat-show-big {
    padding: 20px;
    margin-top: 75px;
    width: 65vw;
}

.chat-show-h1 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.messages-thread {
    height: 600px;
    overflow: auto;
    margin-bottom: 20px;
}

.me {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: white;
    text-shadow: none;
    font-size: 18px;
}

.friend {
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 18px;
}

.red {
    color: red;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white;
}

.no-messages {
    text-align: center;
    font-size: 25px;
}

.formie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

#message_body.formie-text-area {
    width: 90%;
    height: 30%;
}

.formie-send {
    height: 34px;
    cursor: pointer;
    transition: background-color 0.7s ease;
}