//importing google fronts//
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Titillium+Web&display=swap');

//defining fonts for the body//

.jockey-one-regular {
  font-family: "Jockey One", serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", serif;
  font-weight: 400;
  font-style: normal;
}
