.contact-big{
    margin-top: 100px;
    width: 70%;
    
}

.contactaichone{
    text-align: center;
    font-size: 50px;
}

.contact-big .contact-p{
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    width: 90%;
    max-width: 100%;
    white-space: normal;
    hyphens: auto;
}

.contact-pe{
    text-decoration: none;
}