.contact-big{
    margin-top: 75px;
    width: 75%;
    text-align: center;
    
}

.contactaichone{
    text-align: center;
    font-size: 50px;
}

.contact-big .contact-p{
    font-size: 30px;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    hyphens: auto;
}

.contact-pe{
    text-decoration: none;
    text-align: center;
}