.contact-big{
    margin-top: 100px;
    width: 70%;
    
}

.contactaichone{
    text-align: center;
    font-size: 50px;
}

.contact-big .contact-p{
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.contact-pe{
    text-decoration: none;
}