/*Styling the section that wraps the information on me and my picture*/
.home_big{
  width: 100%;
  height: auto;
  margin: 75px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/*Styling the section that contains the information on me.*/
.home_info{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 500px;
  height: 850px;
  transition: transform 1.5s ease-in-out 1s, opacity 1.5s ease-in-out 1s;

}

.home_info.home_slidie{
  transform: translateY(900px); /* Start with the element 900px lower than its normal position */
}

.home_slidie.home_visible {
  transform: translateY(0); /* Move the element to its original position */
  transition: transform 1.5s ease-in-out 1s, opacity 1.5s ease-in-out 1s; /* Smooth transition for both transform and opacity */
}

/*Styling the h1*/
.home_info h1{
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: 500;
  margin: 0 0 8px 8px;
}

/*stying the h3 within the home_info class*/
.home_info h3{
  font-size: 20px;
  letter-spacing: 5px;
  margin: 0 0 32px 8px;
}

/*Styling the p elements of the class home_info*/
.home_info p{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

/*Styling the h2*/
.aich_two{
  letter-spacing: 5px;
}

/*Styling the unordered list element which contains the list items.(The navbar has 2 unordered lists.)*/
.big-you-l{
  display: flex;
  justify-content: start;
  align-content: center;
}

/*styling list items that are the buttons of the navbar*/
.you-l li{
  font-size: 18px;
  letter-spacing: 1px;
}
/*giving some margin to some of the children of the home_info class*/
.big-you-l, .aich_two, .home_info p{
  margin: 8px;
  padding: 0;
}

/*Styling the perent container of the image-tag.*/
.img_div{
  height: auto;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Styling picture of me*/
.joel_pina_colada{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 850px;
  width: 100%;
  transform: scaleX(-1);
  border-radius: 2px;
  object-fit: cover;
  transition: opacity 0.5s ease-out 2s; /* Only transition opacity */
}

.joel_pina_colada.joel_slidie {
  opacity: 0; /* Start with 0 opacity */
  transition: opacity 0.5s ease-out 2s; /* Only transition opacity */
}

/* When the 'joel_visible' class is added, the element fades in */
.joel_slidie.joel_visible {
  opacity: 1; /* Fade the element in */
}


.relax_window{
  background-color: #aaf8ae44;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 3px 3px 10px #00b24a25;
  transition: background-color 0.5s ease, color 0.5s ease;
  border-radius: 2px;
}

.dark_window{
  background-color: #ffffff44;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 3px 3px 10px #00b24a25;
  transition: background-color 0.5s ease, color 0.5s ease;
  border-radius: 2px;

}

.light_window{
  background-color: #04448d36;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 3px 3px 10px #00b24a25;
  transition: background-color 0.5s ease, color 0.5s ease;
  border-radius: 2px;
}


@media (max-width: 1470px) {
  .home_big {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 74vw;
    margin-top: 75px;
  }

  .home_info, .img_div{
    height: auto;
    width: 75vw;
  }

  .navbar{
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  .navbar.navigation-big, .navbar.navigation-big-two, .navbar.navigation-big-three{
    width: 50px;
    height: calc(100vh - 56px);
    top: 56px;
  }

  .navigation-knopfen {
    height: calc(100vh-54px);
  }

  .big-mode, .big-mode-two, .big-mode-three{
    position: fixed;
    top: 0;
    left: 49px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 0;
  }

  .navigation-knopfe, .navigation-knopfe-two, .navigation-knopfe-three, .modes{
    margin: 2px;
    font-size: 16px;
  }

    .sign-in-out-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }

  .sign-in-out-p {
    display: none;
  }

  .devise-big {
    margin-top: 75px;
  }
}

@media (max-width: 900px) {
  .double {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .devise-big {
    width: 65vw;
  }

  .my-edit, .my-infos {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .sign-in-out-div {
    width: 7.4vw;
    padding: 0;
  }

  .chat-index-big {
    width: 70vw;
  }

  .formie > form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
    padding-bottom: 40px;
  }
}

@media (max-height: 500px) {
  .big-mode, .big-mode-two, .big-mode-three {
    left: 49px;
  }
}

