.home_big{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 850px;
}

.home_info{
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  margin-right: 28px;
  margin-top: 50px;
  height: 850px;
}

.home_slidie{
  transform: translateY(900px); /* Start with the element 50px lower than its normal position */
}

.home_slidie.home_visible {
  transform: translateY(0); /* Move the element to its original position */
  transition: transform 1.5s ease-out 1s, opacity 1.5s ease-out 1s; /* Smooth transition for both transform and opacity */
}

.home_info h1{
  font-size: 60px;
  margin: 0 0 0 16px;
  letter-spacing: 5px;
  font-weight: 500;
  padding-top: 0;
}

.home_info h3{
  margin: 0 0 16px 16px;
  font-size: 20px;
  letter-spacing: 5px;

}
.home_info p{
  margin: 16px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;

}

.aich_two{
  letter-spacing: 5px;
  margin: 25px 0 0 16px;
}

.big-you-l{
  display: flex;
  justify-content: start;
  align-content: center;
}

.you-l li{
  font-size: 18px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
}

.joel_pina_colada{
  width: 600px;
  height: 850px;
  object-fit: cover;
  margin-left: 28px;
  margin-top: 50px;
  transform: scaleX(-1);
  border-radius: 2px;
}

.normal{
  transform: scaleX(0);
}

.joel_slidie {
  opacity: 0; /* Start with 0 opacity */
  transition: opacity 0.5s ease-out 2s; /* Only transition opacity */
}

/* When the 'joel_visible' class is added, the element fades in */
.joel_slidie.joel_visible {
  opacity: 1; /* Fade the element in */
}


.relax_window{
  background-color: #aaf8ae44;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 3px 3px 10px #00b24a25;
  transition: background-color 0.5s ease, color 0.5s ease;
  border-radius: 2px;
}

.dark_window{
  background-color: #ffffff44;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 3px 3px 10px #00b24a25;
  transition: background-color 0.5s ease, color 0.5s ease;
  border-radius: 2px;

}

.light_window{
  background-color: #04448d36;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 3px 3px 10px #00b24a25;
  transition: background-color 0.5s ease, color 0.5s ease;
  border-radius: 2px;
}
