<div class="big-mode-three modus" data-controller="dark-mode">
    <h3 class="modes">Modes</h3>
    <p class="navigation-knopfe-three ldr bowton darky"  data-mode="dark" data-action="click->dark-mode#dark">Dark</p>
    <p class="navigation-knopfe-three ldr bowton lighty show" data-mode="light" data-action="click->dark-mode#dark">Light</p>
    <p class="navigation-knopfe-three ldr bowton relaxy" data-mode="relax" data-action="click->dark-mode#dark">Relax</p>
</div>