<div class="navigation-knopfen navigation-big-three navi slidie">
  <%= link_to root_path, class: "link-to lt-three", title: "Home" do %>
    <i class="fa-solid fa-house eye smaller navigation-i-three"></i>
  <% end %>
  <%= link_to user_signed_in? ? chats_path : new_user_session_path, class: "link-to lt-three", title: "Chat" do %>
    <i class="fa-solid fa-comments eye smaller navigation-i-three"></i>
  <% end %>
  <%= link_to contact_path, class: "link-to lt-three", title: "Contact" do %>
    <i class="fa-regular fa-envelope-open eye smaller navigation-i-three"></i>
  <% end %>
  <%= link_to showcase_path, class: "link-to lt-three", title: "Showcase" do %>
    <i class="fa-solid fa-play eye smaller navigation-i-three"></i>
  <% end %>
</div>
