<div class="contact-big light_window">
    <h1 class="contactaichone">Contact</h1>
    <p class="contact-p">Name: Joel Mario Armenta</p>
    <p class="contact-p">Email: armentamj+jobprospects@gmail.com</p>
    <%= link_to "mailto:armentamj+jobprospects@gmail.com", class: "contact-pe" do %>
      <p class="contact-p">Click here to send an email to me.</p>
    <% end %>
    <p class="contact-p">Thank you very much!</p>
</div>