<div class="contact-big light_window">
  <h1 class="contactaichone">Contact</h1>
  <p class="contact-p">Name: Joel Mario Armenta</p>
  <p class="contact-p">Email: armentamj+jobprospects@gmail.com</p>
  <%= link_to "mailto:armentamj+jobprospects@gmail.com", class: "contact-pe" do %>
    <p class="contact-p">Click here to send an email to me.</p>
  <% end %>
  <p class="contact-p">Thank you very much!</p>
  <%= link_to "https://github.com/armentamj", target: "_blank", class: "link-to lt-three", title: "GitHub" do %>
    <i class="fa-brands fa-github eye smaller navigation-i-three"></i>
  <% end %>
  <%= link_to "http://linkedin.com/in/joel-armenta-821a80315", target: "_blank", class: "link-to lt-three", title: "LinkedIn" do %>
    <i class="fa-brands fa-linkedin eye smaller navigation-i-three"></i>
  <% end %>
</div>