<div class= "home_big">
  <div class= "home_info home_slidie light_window">
    <h1>Joel Mario Armenta</h1>
    <h3>Jr Full-stack Web Developer</h3>
    <p>I am a jr Full Stack Web Developer who loves coding and the magic of front end.</p>
    <p>Hello, my name is Joel. I hail from L.A., CA. and was raised in Miami, FL. I have been living in Germany since 2017. I started my journey into coding at the begining of 2023 and just recently got certified as a full stack web developer at Le Wagon Berlin. I hope you enjoy my portfolio website. Please check out the different pages on this website. Thank you very much and have a great day.</p>
    <h2 class="aich_two">Skills</h2>
      <div class="big-you-l">
        <ul class="you-l">
          <li class="home_li">HTML</li>
          <li class="home_li">SCSS</li>
          <li class="home_li">JavaScript</li>
          <li class="home_li">Stimulus</li>
          <li class="home_li">Ruby</li>
        </ul>
        <ul class="you-l">
          <li class="home_li">Rails</li>
          <li class="home_li">SQL</li>
          <li class="home_li">Regex</li>
          <li class="home_li">GIT</li>
          <li class="home_li">Terminal</li>
        </ul>
      </div>
  </div>
  <div>
    <%= image_tag("joel", alt: 'Joel in a botanical garden.', class: "joel_pina_colada joel_slidie") %>
  </div>
</div>
