<div class= "home_big">
  <div class= "home_info home_slidie light_window">
    <h1>Joel Mario Armenta</h1>
    <h3>Front end is magic, back end is sorcery.</h3>
    <p>Jr Full Stack Web Developer</p>
    <p>Hello, I'm Joel – a passionate Jr. Full Stack Web Developer with a particular love for the magic of front-end development. Originally from L.A., CA, I was raised in the vibrant city of Miami, FL, and have been calling Germany home since 2017. My coding journey began in early 2023, and I'm proud to have recently earned my Full Stack Web Developer certification from Le Wagon Berlin. I’m excited to share my portfolio with you and invite you to explore the different projects and pages on my website. Thank you for visiting, and I hope you enjoy what you see! Have a wonderful day.</p>
    <h2 class="aich_two">Skills</h2>
      <div class="big-you-l">
        <ul class="you-l">
          <li class="home_li">HTML</li>
          <li class="home_li">SCSS</li>
          <li class="home_li">JavaScript</li>
          <li class="home_li">Stimulus</li>
          <li class="home_li">Ruby</li>
        </ul>
        <ul class="you-l">
          <li class="home_li">Rails</li>
          <li class="home_li">SQL</li>
          <li class="home_li">Regex</li>
          <li class="home_li">GIT</li>
          <li class="home_li">Terminal</li>
        </ul>
      </div>
  </div>
  <div class= "img_div">
    <%= image_tag("/assets/joel.jpg", alt: 'Joel in a botanical garden.', class: "joel_pina_colada joel_slidie") %>
  </div>
</div>
