// envelopes all of the navigation bar and changes to relax mode
.navi{
  transition: transform 2s ease-in-out 0.5s;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 1s ease, color 0.1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation-big{
  background-color: #aaf8ae44;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 3px 3px 10px #00b24a25;
}

//Invelopes all of the navigation bar and changes to dark mode
.navigation-big-two{
  background-color: #ffffff44;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 3px 3px 10px #00b24a25;
}

//Invelopes all of the navigation bar and changes to light mode
.navigation-big-three{
  background-color: #04448d36;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 3px 3px 10px #00b24a25;
}

.navi.slidie{
  transform: translateY(-100%); //Start hidden above the page
  transition: transform 2s ease-in-out 0.5s; //Animation duration and easing
  top: 0;
}

.slidie.navbar_visible{
  transform: translateY(0); //Move it to its normal position
}

//Section for all links that are not icons
.navigation-knopfen{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

//non-icon links on relax mode
.navigation-knopfe{
  margin: 0 10px 0 10px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  width: max-content;
  padding: 3px 13px;
  transition: all .3s ease-in-out;
}

//non-icon links on dark mode
.navigation-knopfe-two{
  margin: 0 10px 0 10px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  width: max-content;
  padding: 3px 13px;
  transition: all .3s ease-in-out;
}

//non-icon links on light mode
.navigation-knopfe-three{
  margin: 0 10px 0 10px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  width: max-content;
  padding: 3px 13px;
  transition: all .3s ease-in-out;
}

//links that are also icons on relax mode
.navigation-i{
  margin: 30px 10px 30px 10px;
  font-size: 20px !important;
  letter-spacing: 5px;
  width: max-content;
  padding: 3px 8px;
  text-decoration: none;
  transition: all .3s ease-in-out;
  font-weight: 600 !important;
}

.navigation-i:hover, .navigation-knopfe:hover{
  background-color: #59d15f75;
  transition: background-color 1s ease, color 0.1s ease;
}

//links that are also icons on dark mode
.navigation-i-two{
  margin: 30px 10px 30px 10px;
  font-size: 20px !important;
  letter-spacing: 5px;
  width: max-content;
  padding: 3px 8px;
  text-decoration: none;
  transition: all .3s ease-in-out;
  font-weight: 600 !important;

}

.navigation-i-two:hover, .navigation-knopfe-two:hover{
  background-color: #ffffffb0;
  transition: background-color 1s ease, color 0.1s ease;
}

//links that are also icons on light mode
.navigation-i-three{
  margin: 30px 10px 30px 10px;
  font-size: 20px !important;
  letter-spacing: 5px;
  width: max-content;
  padding: 3px 8px;
  text-decoration: none;
  transition: all .3s ease-in-out;
  font-weight: 600 !important;
}

//Making the before elements of the navigation-i classes even
.navigation-i-three::before, .navigation-i-two::before, .navigation-i::before{
  margin: 0;
  padding: 0;
}

.navigation-i-three:hover, .navigation-knopfe-three:hover{
  background-color: #2523bb42;
  transition: background-color 1s ease, color 0.1s ease;
}

//class for targeting the non-icon links which will have the navigation-knopfe class changed through js
.bowton{
  width: max-content;
  cursor: pointer;
}

//class for targeting the icon links which will have the navigation-i class changed through js
.eye{
  width: max-content;
}

//class for controlling the link-to helpers from rails
.link-to{
  text-decoration: none;
}

//changes the color of the icons because the body class does not affect fontawesome icons and changes it to relax mode
.lt {
  color: #00692c;
  transition: background-color 1s ease, color 0.1s ease;
}

//changes the color of the icons because the body class does not affect fontawesome icons and changes it to dark mode
.lt-two {
  color: white;
  transition: background-color 1s ease, color 0.1s ease;
  
}

//changes the color of the icons because the body class does not affect fontawesome icons and changes it to light mode
.lt-three {
  color: black;
  transition: background-color 1s ease, color 0.1s ease;
}
